:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-mode-bg: hsl(207, 26%, 17%);
    --light-mode-text : hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-background: hsl(0, 0%, 98%);
    --dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);

    --home-font: 14px;
    --detail-font: 16px;

    --fw-3: 300;
    --fw-6: 600;
    --fw-8: 800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--home-font);
    line-height: 1.5;
    font-weight: var(--fw-3);
}
ul{list-style: none;}
a{text-decoration: none;color: inherit;}
h1 {
    font-size: calc(1.5em + 1vw);
    font-weight: var(--fw-8);
}
h2 {
    font-size: 1.5em;
    font-weight: var(--fw-6);
}
h4{
    font-size: var(--home-font);
    font-weight: var(--fw-6);
}
h1, h2, h4 {
    color: inherit;
}
input {
    color: var(--dark-mode-text-light-mode-elements);
    font-size: 13px;
    font-weight: var(--fw-6);
}
input::placeholder {
    font: inherit;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}
.flex {
    display: flex;
    align-items: center;
}
.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.flexbet {
    display: flex;
    justify-content: space-between;
}
.flexcol {
    display: flex;
    flex-direction: column;
}



/* Start Header */

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    padding: 16px 0;
    line-height: 24px;
    color: var(--light-mode-text);
    background-color: var(--dark-mode-text-light-mode-elements);
    box-shadow: 60px 50px 10px rgba(0, 0, 0, 0.9);
}
.dark-mode header{
    color: var(--dark-mode-text-light-mode-elements);
    background-color: var(--dark-blue);
    box-shadow: none;
}
.control-mode {
    cursor: pointer;
}
main {
    flex: 1;
    padding: 2em 0;
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}
main :where(.container, .wrapper) {
    height: 100%;
}

.dark-mode main {
    background-color: var(--very-dark-mode-bg);
    color: var(--dark-mode-text-light-mode-elements);
}

form {
    position: relative;
}
.form input {
    padding: 16px 36px;
    color: var(--light-mode-text);
    border: 1px solid var(--light-mode-text);
    outline: none;
    width: 200px;
    border-radius: 4px;
}
.dark-mode input {
    background-color: var(--dark-blue); 
    color: var(--dark-mode-text-light-mode-elements);
    border-color: var(--dark-mode-text-light-mode-elements);
}
form .icon-small {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
}
.filter-list {
    position: relative;
    line-height: 24px;
    padding: 16px;
    font-size: 13px;
    width: 160px;
    border: 1px solid var(--very-dark-mode-bg);
    border-radius: 4px;
}
.regions {
    position: absolute;
    z-index: 100;
    top: 104%;
    left: 0;
    right: 0;
    border-top: 2px solid var(--dark-mode-text-light-mode-elements);
    background-color: var(--light-mode-background);
    padding: 0 16px;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.dark-mode .regions {
    background-color: var(--dark-blue);
}
.filter-list.expand .regions {
    max-height: 1000px;
}
.dark-mode .filter-list {
    background-color: var(--dark-blue);
    color: var(--dark-mode-text-light-mode-elements);
}

/* Start Content */
.content {
    flex: 1;
    position: relative;
    margin-top: 25px;
    max-width: 100%;
    max-height: 100%;
}

.content-wrapper {
    justify-content: space-between;
    row-gap: 10px;
    align-items: stretch;
    align-content: stretch;
}
.slide {
    margin: auto;
    width: 100%;
    max-width: 300px;
    background-color: var(--dark-mode-text-light-mode-elements);
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.slide img {
    max-width: 100%;
    height: 130px;
    width: 100%;
    object-fit: cover;
}
.slide .info {
    padding: 10px 16px;
}
.dark-mode .slide {
    background-color: var(--dark-blue);
}
.info ul {
    line-height: 24px;
}
.info li.flex{
    gap: 4px;
}

.info li.flex span.light-text{
    color: var(--light-mode-input);
}

/* Detail Page */
.btn {
    color: var(--light-mode-text);
    background-color: #fff;
    padding: 10px 25px;
    gap: 8px;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 4px 8px 6px rgba(0, 0, 0, 0.1);
}
.dark-mode .btn {
    background-color: var(--dark-blue);
    color: var(--dark-mode-text-light-mode-elements);
}
.content.detail {
    display: flex;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}
.content.detail .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
}

.content.detail .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content.detail .info {
    flex: 1;
}

.content.detail .info ul h1 {
    font-size: 2em !important;
}
.borders {
    gap: 8px;
}
.borders .btn {
    padding: 5px 10px;
}
@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
    .form input {
        width: 400px;
    }
    .filter-list {
        font-size: 16px;
        width: 220px;
    }
    .slide {
        width: 250px;
    }
    .content.detail {
        align-items: center;
    }
    .content.detail .image {
        width: 500px;
        height: 300px;
    }
}

